@import "tailwindcss";

@theme {
  --font-trajan: "trajan", serif;

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-radar-spin: radar-spin 5s linear infinite;
  @keyframes radar-spin {
    from {
      transform: rotate(20deg);
    }
    to {
      transform: rotate(380deg);
    }
  }
}

@font-face {
  font-family: "trajan";
  src: url("./assets/fonts/TrajanPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
